@charset "UTF-8";

@import "reset.css";

/* @font-face definitions */

@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('../fonts/TitilliumText22L001-webfont.eot');
    src: url('../fonts/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L001-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('../fonts/TitilliumText22L002-webfont.eot');
    src: url('../fonts/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L002-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('../fonts/TitilliumText22L003-webfont.eot');
    src: url('../fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('../fonts/TitilliumText22L004-webfont.eot');
    src: url('../fonts/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L004-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LBold';
    src: url('../fonts/TitilliumText22L005-webfont.eot');
    src: url('../fonts/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L005-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LXBold';
    src: url('../fonts/TitilliumText22L006-webfont.eot');
    src: url('../fonts/TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L006-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L006-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L006-webfont.svg#TitilliumText22LXBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* common */
html {
	min-height: 100%;
	height: auto;
}

body {
	/*background:transparent url(../images/body_background.jpg) no-repeat center 0 scroll;*/
	font: 75%/1.5em Arial, Helvetica, sans-serif;
	color: #666666;
	behavior: url("css/csshover3.htc");
}

.sub {
	background-image:url(../images/inner-bg.jpg);
	background-repeat:repeat-x;
	}
	
.home {
	background:#fff url(../images/bg.jpg) repeat-x top;
}

h1, 	h3, h4 {
	font-family:'TitilliumText22LLight', Arial, Helvetica, sans-serif;
	font-weight:normal;
}

h2 {
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
	font-size:2em;
	color:#115788;
	margin:0 0 16px 0;
}

h3 {
	font-size:1.5em;
	color:#115788;
}

h4 {
	font-size:1.25em;
	color:#115788;
}

h5 {
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#115788;
}

h6 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#115788;
	font-weight:bold;
}

a {
	text-decoration:none;
	color:#115788;
	outline-width:0px;
	outline:none;
}

a:hover, a:active, a:visited, a:focus  {
	color:#8e9bba;
	outline-width:0px;
	outline:none;
}

img {
	border:none;
}

div.hr {
	display: block;
	position: relative;
	padding: 0;
	margin: 20px auto;
	width: 100%;
	height:2px;
	background:transparent url(../images/hr_background.png;) repeat-x 0 0 scroll;
	clear: both;
	border: none;
	font-size: 1px;
	line-height: 0;
	overflow: visible;
}

.wrapper {
	margin:0 auto;
	width:1004px;
}

.home .wrapper {
	margin:0 auto;
	width:1004px;
	background:transparent url(../images/home-wave.jpg) no-repeat 36% 3.1%;
}


a.cta_link {
	display:inline-block;
	background:transparent url(../images/link_arrows.png) no-repeat right -24px scroll;
	padding-right:20px;
	color:#115788;
}

a.cta_link:hover {
	color:#8e9bba;
	background-position:right -51px;
}

.note {
	font-style:italic;
}

/* lsits reset */

ul {
	list-style-type:disc;
	margin: 1em 0 0 1.5em;
}

ul li {
	/*margin: 1em 0;*/
}

ul li ul {
	list-style-type:circle;
	margin: 1em 0 0 1.5em;
}

ul li ul li ul {
	list-style-type:disc;
	margin: 1em 0 0 1.5em;
}

ol {
	list-style-type:decimal;
	margin: 1em 0 0 1.5em;
}

ol li {
	margin: 1em 0;
}

ol li ol {
	list-style-type:lower-alpha;
	margin: 1em 0 0 1.5em;
}

ol li ol li ol {
	list-style-type:lower-roman;
	margin: 1em 0 0 1.5em;
}


/* header */
.header {
	width:1048px;
	height:137px;
	display:inline;
/*	position:relative;*/
}

.header .logo {
	height: 80px;
	padding-top: 35px;
	float: left;
	display: inline;
	}

.header h1 a, p.logo a {
	display:block;
	position:relative;
	width:377px;
	height:80px;
	/*top:30px;
	left:31px;*/
	text-indent:-9999px;
	outline:none;
	background:transparent url(../images/logo.png) no-repeat 0 0 scroll;
	
	
}

.header .tagline {
	display:block;
	position:absolute;
	top:72px;
	right:20px;
	font-family:'TitilliumText22LBold', Arial, Helvetica, sans-serif;
	font-size:1.25em;
}

.util_nav {
	display:block;
	float:right;	
	/*position:absolute;*/
	height:32px;
	top:0;
	right:20px;
	background: url(../images/utility_nav_background.jpg) no-repeat 0 0 scroll;
	width: 298px;
	padding:0 0 0 3px;	
}

.sub .util_nav {
	display:block;
	float:right;	
	/*position:absolute;*/
	height:32px;
	top:0;
	right:20px;
	background: url(../images/utility_nav_background.jpg) no-repeat 0 0 scroll;
	width: 298px;
	padding:0 0 0 3px;	
}

.util_nav ul {
	list-style-type:none;
	margin:0;
	float:left;
	padding:0 7px 0 0;
	height:32px;
	background: url(../images/utility_nav_background.jpg) no-repeat right -32px scroll;
}

.util_nav ul li {
	display:block;
	float:left;
	border-left:1px solid #d0d4d6;
	margin:7px 0 0 0;
	height: 16px;
	}
	
.util_nav ul li:first-child {
	border-left:none;
}

.sub .util_nav ul li a, .util_nav ul li a:visited {
	color:#11638b;
	font-family:'TitilliumText22LBold', Arial,  Helvetica, sans-serif;	
	font-size:14px;
	text-decoration:none;
	padding: 0 14px;
	outline:none;
}

.util_nav ul li a, .util_nav ul li a:visited {
	color:#11638b;
	font-family:'TitilliumText22LBold', Arial,  Helvetica, sans-serif;	
	font-size:14px;
	text-decoration:none;
	padding:0 15px;
	outline:none;
}

.util_nav ul li a:hover {
	color:#000;
}

/* primary navigation */
.primary_nav {
	
	/*overflow:hidden;
	width:627px;
	
	height:33px;	z-index:2;
	padding-left: 18px;
	padding-bottom: 3px; text-align:right;*/
	margin:30px 0px 10px 0px;
	float:right;
	background:transparent url("../images/main-nav-bg.gif") repeat-x bottom;
	
}


/* secondary navigation */
.content .secondary_nav {
	width:170px;
	height:210px;
	/* background:url(../images/sub-nav-bg.jpg) no-repeat 0 0 scroll;*/
	float:left;
	left:0;
	padding: 0px 0px;
	margin-right: 15px;
	margin-left: -15px;
}

.content .secondary_nav h3 {
	margin-bottom:10px;
	color:#b5b7b9;
	font-size:22px;
	font-weight:bold;
}
.content .secondary_nav ul {
	padding:0px 0;
	margin:0;
	list-style-type:none;
	/*background:url(../images/sub-nav-spacer.png) repeat-x bottom left;*/
	
	
}

.content .secondary_nav ul li {
	/*margin-left:-10px;*/
	background:url(../images/sub-nav-spacer.png) repeat-x;
	width:170px;
	height:37px;
}

/*.content .secondary_nav ul li.selected, .content .secondary_nav ul li:hover {
	color:#909192;
	background:url(../images/sub-nav-hover.png) repeat-x;
	background:url(../images/leftmenuhover.png) no-repeat;
	height:46px;
	width:190px;
	background-position:-1px -1px;
}*/

.content .secondary_nav ul li {
	display:block;
	font-family: 'TitilliumText22LBold',Arial,Helvetica,sans-serif;
	font-size:15px;
	/*padding-left:7px;*/
	color:#30a4df;
	text-indent:20px;
	text-decoration:none;
	outline:none;
	height: 37px;
	width:170px;
}
.content .secondary_nav div {
	display:block;
	font-family: 'TitilliumText22LBold',Arial,Helvetica,sans-serif;
	font-size:15px;
	/*padding-left:7px;*/
	color:#30a4df;
	text-indent:20px;
	text-decoration:none;
	outline:none;
	height: 26px;
	padding-top: 17px;
	padding-bottom:0px;
	width:170px;
}
.content .secondary_nav  a{
padding-top:0px;
/*margin-left:-10px;*/
	width:170px;
	display:block;
	font-family: 'TitilliumText22LBold',Arial,Helvetica,sans-serif;
	color:#30a4df;
	text-indent:20px;
	outline:none;
	height: 37px;
	padding-top: 10px;
	padding-bottom:0px;
}
.content .secondary_nav .nav_blue{
background:url(../images/blue_nav.jpg) no-repeat;
}
.content .secondary_nav ul li a:hover, .content .secondary_nav ul li.selected a{
	color:#7d8082;
	background:url(../images/sub-nav-hover.jpg) no-repeat;
	background:url(../images/blue_nav2.jpg) no-repeat;
	width: 170px;
	/*height: 30px;*/
	text-decoration:none;
}
.content .secondary_nav div:hover, .content .secondary_nav div.selected {
	color:#7d8082;
	/*background:url(../images/sub-nav-hover.jpg) no-repeat;*/
	background:url(../images/blue_nav2.jpg) no-repeat;*/
	width: 170px;
	/*height: 30px;*/
	text-decoration:none;
}
.secondary_nav  h3 a{
font-weight:bold;
}

.secondary_nav  h3 a:hover{
text-decoration:underline;
color:#30a4df;
}



/* content area */	
.content {
	/*margin:16px 0;*/
	clear:both;
	/*position:relative;*/
	width:1024px;
       
}



/* home content */

.home .content {
	min-height:445px;
	margin:0 30px;
	padding-top: 32px;
	z-index:0;
	position:relative;
}

.home .content .main p {
	font-size:13px;
	color:#686a70;
}

.home .content .main {
	width: 510px;
	margin-top: 50px;
	
}

.home .content .main .banner {
	color:#FFF;
	padding-left: 25px;
}

.home .content .main .banner p {
	color:#FFF;
	font-size:16px;
	width:490px;
	margin-bottom: 4px;
	padding-top: 24px;
}

.home .content .main .inner {
	color:#FFF;
	padding-left: 25px;
}

.home .content .main .banner-inner p {
	color:#FFF;
	font-size:16px;
	width:490px;
	margin-bottom:22px;
}

/* Read More */

.home .content .main .banner .readmore {
	
	padding-top:3px;
	height:38px;
	width:130px;
	outline:none;
	z-index:1;
	margin-top: 20px;
}

.home .content .main .banner .readmore a{
	text-indent:-9999px;
	background:transparent url(../images/learn-more.jpg) no-repeat 0 0 scroll;
	height:38px;
	width:130px;
	padding: 13px 5px;
	outline:none;
	}

.home .content .main .banner .readmore a:hover {
	background-position:0 -41px;
}

.home .content .main .banner h1 {
	color:#FFF;
	font-size:36px;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	font-family:'TitilliumText22LXBold', Arial,  Helvetica, sans-serif;	
	line-height: 31px;
	margin-bottom:5px;
}

.graphic {
	position:absolute;
	margin-left:481px;
	margin-top:59px;
	z-index:-1;
}

/***** Inner pages banners ****/

	
/* Products & Services */

.banner-ps {
	color:#FFF;
	background: transparent url(../images/banner-ps.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-ps h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-ps p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	text-align:justify;
	}
	
/* Costumer experience */

.banner-ce { 
	color:#FFF;
	background:transparent url(../images/banner-ce.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
	
}

.banner-ce h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-ce p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	text-align:justify;
	}

/* Support */

.banner-sp { 
	color:#FFF;
	background: transparent url(../images/banner-sp.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-sp h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-sp p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	text-align:justify;
	}

/* About Us */

.banner-au { 
	color:#FFF;
	background: transparent url(../images/banner-au.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-au h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-au p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	text-align:justify;
	}
	
/* Leadership */

.banner-ls { 
	color:#FFF;
	background: transparent url(../images/banner-ls.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-ls h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-ls p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	text-align:justify;
	}
	
/* 	Guiding Principles */

.banner-gp { 
	color:#FFF;
	background: transparent url(../images/banner-gp.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-gp h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-gp p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	text-align:justify;
	}
	
/* 	Request Info */

.banner-ri { 
	color:#FFF;
	background: transparent url(../images/banner-ri.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-ri h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-ri p{
	font-size:16px;
	width:390px;
	padding-top: 47px;
	padding-left: 48px;
	text-align:justify;
	}
	
/* 	Contact Us */

.banner-cu { 
	color:#FFF;
	background: transparent url(../images/banner-cu.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-cu h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-cu p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	text-align:justify;
	}
	
/* 	Terms and Conditions */

.banner-tc { 
	color:#FFF;
	background: transparent url(../images/banner-tc.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-tc h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-tc p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	}
	
/* 	Privacy */

.banner-pr { 
	color:#FFF;
	background: transparent url(../images/banner-pr.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-pr h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-pr p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	}
	
/* 	CourtsOnline */

.banner-co { 
	color:#FFF;
	background: transparent url(../images/banner-co.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-co h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-co p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	}
	/* 	CourtsOnline V9.0 */

.banner-col { 
	color:#FFF;
	background: transparent url(../images/banner-col.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-col h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-col p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	}
/* 	Daily Data Feeds */
.banner-dd { 
	color:#FFF;
	background: transparent url(../images/banner-dd.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-dd h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-dd p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	}

/* 	Data Records Backfill */

.banner-dr { 
	color:#FFF;
	background: transparent url(../images/banner-dr.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-dr h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-dr p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	}

/* News */

.banner-nw { 
	color:#FFF;
	background: transparent url(../images/banner-nw.jpg) no-repeat 0 0 scroll;
	width: 934px;
	height: 155px;
	position: relative;
	z-index: -1;
	padding-top: 67px;
	left: 70px;
	top: -21px;
}

.banner-nw h1{
	font-size:48px;
	font-family:'TitilliumText22LXBold', Arial, Helvetica, sans-serif;
	text-shadow: #287ea8 0.1em 0.1em 0.2em;
	margin-bottom: 11px;
	}
	
.banner-nw p{
	font-size:16px;
	width:345px;
	padding-top: 47px;
	padding-left: 48px;
	}
	
	
/* End inner banners */

/* content 3 columns */


.content .column-container {
	width:942px;
	background-color:#FFF;
	padding-left:10px;
	background-image:url(../images/content-top-bg.jpg);
	background-position:top;
	background-repeat:no-repeat;
	padding-top: 18px;
	padding-right: 29px;
	margin-top: 47px;
	}
	


.column {
	width:280px;
	margin-top:20px;
	border-right:solid 1px #eeecec;
	color:#686a70;
	font-size:13px;
	padding-right:20px;
	padding-left:20px;
	float:left;
	min-height: 562px;
	
}

.lastcolumn {
	width:280px;
	margin-top:20px;
	color:#686a70;
	font-size:14px;
	padding-left:20px;
	float:left;
	text-align:justify;
}

.column a{
	color:#1c5d89;
}

.column p {
	text-align:justify;
}

.column h2 {
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#115788;
	margin:16px 0 16px 0;
	font-weight: normal;
	line-height: 22px;
}

.column h1 {
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
	font-size:24px;
	line-height:22px;
	text-align:left;
}

.col_button{
	display:block;
	margin-left:44px;
	width:237px;
	height: 64px;
	margin-top: 6px;
	margin-bottom: 3px;
}

.col_button .a{
	display:block;
	width:237px;
	height: 64px;
	display:block;
	color:#115788;
	line-height:63px;
	text-decoration:none;
	text-indent:20px;
}
.product_actions {
	margin:0 0 0 -3px;
}

.product_actions .product_download {
	width:280px;
	background:transparent url(../images/download-box.jpg) no-repeat;
	margin:0 12px 0 0;
	min-height:169px;
  height:auto !important;
  height:180px;

	position:relative;
}

.product_actions .product_download h3 {
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
	padding:17px 18px 0;
	font-size:1.833em;
	color:#115788;
	height:30px;
}

.home .product_actions .product_download p {
	font-size:11px;
	line-height:1.25em;
	margin:0 18px;
}

.product_actions .product_download div.download_button {
	display:block;
	text-align:right;
	background:transparent url(../images/download-button.jpg) no-repeat 0 0 scroll;
	margin-left:10px;
	height:78px;
	margin-bottom:10px;
	margin-top:10px;
}

.product_actions .product_download div.download_button:hover {
/*	background-position:0 -28px;	*/}

.product_actions .product_download div.download_button:active {
	background-position:0 0;
}

.product_actions .product_download div.download_button a {
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
	font-size:1.333em;
	color:#1c5d89;
	height:28px;
	width:203px;
	display:block;
	line-height:29px;
	text-decoration:none;
	text-indent:-10px;
	outline:none;
	padding-top: 32px;
	text-shadow: 1px 1px white;
}

.product_actions div.button {
	background:transparent url(../images/home_buttons.jpg) no-repeat 0 0 scroll;
	padding-top: 8px;
}

.product_actions div.button:hover {
	background-position:0 -71px;
	color:#FFF;
}

.product_actions div.button:active {
	background-position:0 0;
}

.product_actions div.button a {
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
	font-size:24px;
	display:block;
	width:237px;
	height: 64px;
	display:block;
	color:#115788;
	line-height:63px;
	text-decoration:none;
	text-indent:20px;
	outline:none;
}

.product_actions div.button a:hover {
	color:#FFF;
	text-shadow: 1px 1px #1e628e;
	}

/* sub content */

.sub .content .main {
	left: 223px;
	width: 874px;
	padding-top: 25px;
	padding-left: 46px;
	padding-right: 23px;
	background-image: url(../images/main-bg.jpg);
	background-position: top;
	background-repeat: no-repeat;
	margin-top: 8px;
	background-color: #fff;
	margin-left:70px;
	}

.sub .content .main h1 {
	font-size:2.667em;
	color:#03659c;
	line-height:30px;
	padding: 18px 0px 12px 0px;
}

.sub .content .main h1.productsandservices {

}

.sub .content .main h1.customerexperience {
	/*background:transparent url(../images/banner-ce.jpg) no-repeat 0 0 scroll;*/
}

.sub .content .main h1.support {
	/*background:transparent url(../images/masthead_background_support.jpg) no-repeat 0 0 scroll;*/
}

.sub .content .main h1.aboutus {
	/*background:transparent url(../images/masthead_background_aboutus.jpg) no-repeat 0 0 scroll;*/
}

.sub .content .main h1.news {
	/*background:transparent url(../images/masthead_background_news.jpg) no-repeat 0 0 scroll;*/
}

.sub .content .main .info {
	margin:10px 0;
	/*width:568px;*/
	width: 680px;
	float: left;
	background-color:#FFF;
}
.sub .content .main .info p {

	text-align:justify;
}

.sub .content .main .info h3 {
	font-size:1.833em;
	color:#115788;
	/*margin:25px 0 5px;*/
}
.sub .content .main .info_Support {
	margin:10px 0;
	width:568px;
	float: left;
	background-color:#FFF;
}
.sub .content .main .info_Support p {

	text-align:justify;
}

.sub .content .main .info_Support h3 {
	font-size:1.833em;
	color:#115788;
	margin:25px 0 5px;
}
.sub .content .main dl.faq dt {
	font-size:1em;
	font-weight:bold;
	color:#115788;
	margin:15px 0 0 18px;
	text-indent:-18px;
}

.sub .content .main dl.faq dd  {
	margin-left:18px;
	text-indent:-18px;
}

.sub .content .main dl.faq dd .answer {
	font-weight:bold;
}

.sub .content .main dl.principles dt {
	font-size:1em;
	font-weight:bold;
	color:#115788;
	margin:15px 0 0 0;
}

.sub .content .main dl.principles dd  {
}

.signature_logo{
margin-left: -40px;
}
/* sidebar */
.sub .content .sidebar {
	min-height: 75px;
	padding-bottom: 10px;
	background-color: white;
	background: white url(../images/submenu-bg.gif) no-repeat;
	height: 178px;
	padding-left: 20px;
	padding-top: 10px;
	width: 259px;
	float: right;
	margin-left: 20px;
}

.sub .content .sidebar h3 {
	font-size:1.833em;
	color:#115788;
	background:transparent url(../images/sidebar_background.png) repeat-y 0 0 scroll;
	width:214px;
	height:22px;
	padding:6px 0px;
}

.sub .content .sidebar ul {
	margin:0 10px;
	list-style-type:none;
}

.sub .content .sidebar li {
	margin:5px 0;
}

/* moreInfo*/
.moreInfo{
display:block;
position:absolute;
	top:138px;
	left:720px;
	height: 85px;
        width: 200px;
	
padding-bottom:10px;
	
}

.pdf_logo{
	display:block;
	float:right;
	height:32px;
	margin:5px 40px 0px 0px;
        
	background:transparent url(../images/pdf_logo.jpg) no-repeat 0 0 scroll;
	width:32px;
}
div.content.legal {
	padding-top:20px;
}

img.bio {
	border: 1px solid #115788;
	float: left;
	height: 140px;
	width: 150px;
	margin: 15px 15px 15px 0;
}

.main .confirmation {
	background-color:#9ebed2;
	padding:15px 10px 0 10px;
	border:solid 1px #115788;
	margin:0 0 15px 0;
}

.sub .content .main .confirmation h3 {
	margin:0;
}

/* footer */

.sub .footer {
	margin-left: -30px;
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
}
.footer {
	margin:0px 20px 20px 0px;
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
}

.footer p.legal {
	width:886px;
	margin:0 auto;
	/*background-color:#0C0;*/
	border-top:solid 1px #e6e6e6;
	padding-top:10px;
	float:left;
	margin-left:10px;
	margin-top:40px;
	font-size:14px;
	color:#686a70;
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
	position:relative;
}
.footer p.legalHOME {
	width:936px;
	margin:0 auto;
	/*background-color:#0C0;*/
	border-top:solid 1px #e6e6e6;
	padding-top:10px;
	float:left;
	margin-left:10px;
	margin-top:40px;
	font-size:14px;
	color:#686a70;
	font-family:'TitilliumText22LMedium', Arial, Helvetica, sans-serif;
	position:relative;
}
.footer p.legal a {
	color:#1c5d89;
}

.footer p.legal a:hover {
	color:#115788;
}
.logo_foot{
float:right;
margin-top: -20px;
position:relative;
}
/* salesforce form */
.sfform {
	margin:10px 0;
	width:430px;
	/*background-repeat:repeat-y;*/
	
}

.sfform .field{ float:left; margin-bottom:5px;}
.sfform .field-lft { float:left; margin-left:14px;}
.sfform .top {
	background-repeat:no-repeat;
	background-position:top;
}

.sfform .top h3 {
	color:#688197;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:20px;
}

.sfform label {
	color:#989898;
	font-weight:bold;
	float:left;
	display:inline;
}

.sfform form {
	min-height:390px;
	background-repeat:no-repeat;
	background-position:bottom;
	
}

.sfform input, .sfform textarea {
	font-size:14px;
	/*font-style:italic;*/
	color:#919191;
	border:solid 1px #eeeeee;
	/*background-color:#fbfbfb;*/
	background-color:#F2F2F2;
	float:left;
	display:inline;
	/*height: 12px;*/
	height:14px;
    margin: 5px 0px;
    padding: 8px 8px;
}
.sfform input:hover, .sfform textarea:hover {
border:solid 1px #989898;
}

.sfform input:focus, .sfform textarea:focus {
border:solid 1px #989898;
}

.sfform input.submit {
	height: 43px;
   /margin: 16px 10px 5px 163px;
    padding: 0px 20px;
	/*text-shadow: 1px 1px #1e628e;*/
	background-color:White;
	color:#FFF;
	background:url(../images/submit.jpg);
	background-repeat:no-repeat;
	border:none;
	outline:none;
	font-size:22px;
	width: 105px;
}

.sfform input.submit:hover {
	background-color:White;
	color:#FFF;
	background-position:0px -42px;
	
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	/*display: block;*/
}
 
* html .clearfix {
	height: 1%;
}

.LinkedIn-top
{
    float: left;
	margin-left: 293px;
	margin-top: 4px;
	outline:none;
}

.LinkedIn-top a
{
	outline:none;
}

.LinkedIn a
{
	outline:none;
}

.LinkedIn
{
    float: right;
margin-right: 325px;
margin-top: -5px;
}

.LinkedInInc
{
  float:right;
      margin-right: 265px;
    margin-top: -45px; 
}

.LinkedInInc a
{
	outline:none;
}
.infoCOL{
margin:10px 0;
	width: 460px;
	float: left;
	background-color:#FFF;
}